{% extends '_layout' %}
{% block main %}

<section class="container-fluid" id="menus">
    <div class="container">
            <h1><a href="brunch.html" class="text-link">Brunch</a></h1>
            <h1><a href="lunch.html" class="text-link">Lunch</a></h1>
            <h1><a href="/web/menus/dinner" class="text-link">Dinner</a></h1>
            <h1><a href="dessert.html" class="text-link">Dessert</a></h1>
            <h1><a href="drinks.html" class="text-link">Drinks</a></h1>
    </div>
</section>

{% endblock %}