{% extends '_layout' %}
{% block main %}


<section class="container" id="private-dining">
    <div class="row">
        <div class="col ccol-sm-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
            <svg width="674px" height="349px" viewBox="0 0 674 349" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="MCK-Private-Dining" transform="translate(-379.000000, -243.000000)" fill="#FFDB5F">
                        <g id="Group-3" transform="translate(379.000000, 243.000000)">
                            <g id="Group-2" transform="translate(0.000000, 211.000000)">
                                <path d="M120.313297,68.3467028 C120.313297,107.347559 95.8151143,136.778761 40.6488364,136.778761 C25.0425867,136.778761 16.3321218,136.056523 0,134.612047 L0,4.60919212 C15.4247817,2.98415644 26.1313948,2.44247788 39.3785602,2.44247788 C94.5448381,2.44247788 120.313297,30.9708821 120.313297,68.3467028 Z M87.1657559,67.7371279 C87.1657559,43.7425583 71.9613283,29.3097345 43.3625239,29.3097345 C38.1133763,29.3097345 35.3982999,29.4901448 30.6921676,30.0313757 L30.6921676,107.968624 C36.3033254,108.509855 38.6563916,108.690265 45.3535799,108.690265 C74.3143945,108.690265 87.1657559,92.4533387 87.1657559,67.7371279 Z" id="Combined-Shape"></path>
                                <polygon id="Path" points="178.014572 136.778761 147.322404 136.778761 147.322404 3.66371681 178.014572 3.66371681"></polygon>
                                <polygon id="Path" points="322.881603 137.455979 319.795796 138 239.564811 66.0078844 239.564811 135.461235 208.70674 135.461235 208.70674 0.725361367 212.881655 0 292.023532 71.4480946 292.023532 2.53876478 322.881603 2.53876478"></polygon>
                                <polygon id="Path" points="384.265938 136.778761 353.57377 136.778761 353.57377 3.66371681 384.265938 3.66371681"></polygon>
                                <polygon id="Path" points="529.132969 137.455979 526.047162 138 445.816177 66.0078844 445.816177 135.461235 414.958106 135.461235 414.958106 0.725361367 419.133021 0 498.274898 71.4480946 498.274898 2.53876478 529.132969 2.53876478"></polygon>
                                <path d="M618.289318,61.389439 L674,61.389439 L674,124.629289 C659.30109,133.121497 643.694841,138 623.551891,138 C584.536266,138 553.686703,110.174466 553.686703,69.7009621 C553.686703,29.0467729 584.899202,1.22123894 625.185103,1.22123894 C642.606033,1.22123894 656.57907,5.73837107 669.826236,12.6044119 L656.942006,37.358296 C647.505669,32.4797933 637.34346,29.9501993 627.181251,29.9501993 C600.68692,29.9501993 586.532415,46.3925603 586.532415,69.7009621 C586.532415,94.9969021 603.590408,110.716522 625.366571,110.716522 C635.165844,110.716522 640.06548,109.63241 644.965117,107.102816 L644.965117,87.5888054 L618.289318,87.5888054 L618.289318,61.389439 Z" id="Path"></path>
                            </g>
                            <path d="M80.2805467,59.1143617 C80.2805467,93.4946809 58.7237333,118.723404 25.025726,118.723404 C19.3267983,118.723404 12.6367527,117.981383 7.92894289,117.239362 L7.92894289,183.526596 L0,183.526596 L0,2.72074468 C7.43338396,1.48404255 15.1145474,0.742021277 23.7868287,0.742021277 C62.1926458,0.742021277 80.2805467,27.4547872 80.2805467,59.1143617 Z M72.3516038,59.1143617 C72.3516038,31.9069149 56.4937181,7.91489362 23.5390492,7.91489362 C18.087901,7.91489362 12.8845322,8.40957447 7.92894289,8.90425532 L7.92894289,110.31383 C13.1323117,111.055851 19.3267983,111.797872 25.025726,111.797872 C54.0159234,111.797872 72.3516038,89.537234 72.3516038,59.1143617 Z M193.686111,183.526596 L184.76605,183.526596 L145.121336,106.109043 C140.909085,107.098404 136.696834,107.345745 131.989024,107.345745 C126.042317,107.345745 119.104492,106.851064 114.396682,106.109043 L114.396682,183.526596 L106.467739,183.526596 L106.467739,3.21542553 C115.14002,1.9787234 122.821184,0.742021277 131.989024,0.742021277 C168.660385,0.742021277 188.482742,23.25 188.482742,53.4255319 C188.482742,78.1595745 174.359312,96.7101064 152.554719,104.130319 L193.686111,183.526596 Z M180.30602,53.4255319 C180.30602,27.2074468 164.200354,7.91489362 131.989024,7.91489362 C125.298978,7.91489362 120.838948,8.40957447 114.396682,9.15159574 L114.396682,99.1835106 C118.856712,99.9255319 125.298978,100.420213 131.989024,100.420213 C159.988103,100.420213 180.30602,82.8590426 180.30602,53.4255319 Z M227.554466,183.526596 L219.625523,183.526596 L219.625523,2.22606383 L227.554466,2.22606383 L227.554466,183.526596 Z M365.737977,2.22606383 L310.730936,186 L308.005362,186 L252.750541,2.22606383 L260.927263,2.22606383 L309.739818,166.707447 L357.561255,2.22606383 L365.737977,2.22606383 Z M479.143541,183.526596 L471.214598,183.526596 L454.117815,125.648936 L390.686272,125.648936 L373.589489,183.526596 L365.412766,183.526596 L421.163146,0 L423.88872,0 L479.143541,183.526596 Z M451.8878,118.723404 L422.402043,18.7978723 L392.668508,118.723404 L451.8878,118.723404 Z M575.947881,9.39893617 L531.843136,9.39893617 L531.843136,183.526596 L524.161972,183.526596 L524.161972,9.39893617 L480.057228,9.39893617 L480.057228,2.22606383 L575.947881,2.22606383 L575.947881,9.39893617 Z M673,183.526596 L598.66616,183.526596 L598.66616,2.22606383 L673,2.22606383 L673,9.39893617 L606.595103,9.39893617 L606.595103,87.5585106 L667.548852,87.5585106 L667.548852,94.731383 L606.595103,94.731383 L606.595103,176.353723 L673,176.353723 L673,183.526596 Z" id="Private-Copy-2"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <p class="lead">
                MC Kitchen is able to accomodate parties both large and small, and offers a broad selection of experiences that cater directly to your group’s needs.
            </p>
            <p class="callout">For inquiries about all forms of private dining, please <a href="mailto:info@mckitchenmiami.com">email us.</a></p>
        </div>
    </div>

    <div class="rows">
            <div class="row mt-4 mb-2" id="chefs-dining-room">
                <div class="col-sm-12 col-md-6">
                    <div class="img"></div>
                </div>
                <div class="col-sm-10 col-md-6 mt-5 mt-md-0 offset-sm-1 offset-md-0 offset-lg-1 col-lg-4 align-self-center">
                    <h3>Chef's Dining Room</h3>
                    <h5>Accommodates</h5>
                    <p>up to 12 guests</p>
                    <h5>Facilities</h5>
                    <p>Computer<br>iPod<br>Audio system with surround sound<br>72-inch flat screen with HD cable</p>
                    <h5>Provisions</h5>
                    <p>Special menu with wine pairing</p>
                    <p class="description">Tucked behind a beautiful barnyard door is MC Kitchen’s elegant Chef’s Dining Room. A unique dining experience, the private room is good for intimate gatherings, a lunch or dinner meeting, birthdays and celebrations, or just to enjoy life. We welcome last minute arrangements; as such our Chef’s Dining Room is also open for walk-in parties when available.</p>
                </div>
            </div>
            <div class="row mt-4 mb-2" id="main-dining-room">
                <div class="order-1 order-md-2 offset-md-0 offset-lg-1 col-sm-12 col-md-6">
                    <div class="img"></div>
                </div>
                <div class="order-2 order-md-1 col-sm-10 col-md-6 mt-5 mt-md-0 offset-sm-1 offset-md-0 offset-lg-1 col-lg-4 align-self-center">
                        <h3>Main Dining Room</h3>
                        <h5>Accommodates</h5>
                        <p>up to 40 guests</p>
                        <h5>Provisions</h5>
                        <p>Pre-established menu & bar options</p>
                        <h5>Privacy</h5>
                        <p>Semi-private</p>
                        <p class="description">Tucked behind a beautiful barnyard door is MC Kitchen’s elegant Chef’s Dining Room. A unique dining experience, the private room is good for intimate gatherings, a lunch or dinner meeting, birthdays and celebrations, or just to enjoy life. We welcome last minute arrangements; as such our Chef’s Dining Room is also open for walk-in parties when available.</p>
                </div>
            </div>
            <div class="row mt-4 mb-2" id="full-dining-room">
                <div class="col-sm-12 col-md-6">
                        <div class="img"></div>
                </div>
                <div class="col-sm-10 col-md-6 mt-5 mt-md-0 offset-sm-1 offset-md-0 offset-lg-1 col-lg-4 align-self-center">
                    <h3>Full Private Dinner</h3>
                    <h5>Accommodates</h5>
                    <p>up to 100 guests</p>
                    <h5>Provisions</h5>
                    <p>Pre-established menu & bar options</p>
                    <h5>Privacy</h5>
                    <p>Full Privacy</p>
                    <p class="description">Tucked behind a beautiful barnyard door is MC Kitchen’s elegant Chef’s Dining Room. A unique dining experience, the private room is good for intimate gatherings, a lunch or dinner meeting, birthdays and celebrations, or just to enjoy life. We welcome last minute arrangements; as such our Chef’s Dining Room is also open for walk-in parties when available.</p>
                </div>
            </div>

    </div>
</section>

  {% endblock %}