
{% extends '_layout' %}
{% block main %}



<section class="container" id="publicity">
    <div class="row">
        <div class="col ccol-sm-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
                <svg width="627px" height="152px" viewBox="0 0 627 152" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="MCK-Publicity" transform="translate(-412.000000, -237.000000)" fill="#FFDB5F">
                            <path d="M481.78125,286.8 C481.78125,311.4 467.98125,335.8 439.18125,335.8 C437.18125,335.8 435.58125,335.8 433.78125,335.6 L433.78125,386 L412.98125,386 L412.98125,239.8 C419.18125,238.8 426.38125,238.2 435.78125,238.2 C467.98125,238.2 481.78125,260.8 481.78125,286.8 Z M460.78125,287.2 C460.78125,268 451.98125,257.2 438.78125,257.2 C436.18125,257.2 435.98125,257.4 433.78125,257.6 L433.78125,317 C435.38125,317.2 436.98125,317.4 438.78125,317.4 C452.18125,317.4 460.78125,306.6 460.78125,287.2 Z M566.91875,347.6 C566.91875,375.8 551.31875,388.2 530.51875,388.2 C509.91875,388.2 494.91875,375.4 494.91875,347.6 L494.91875,239.4 L515.71875,239.4 L515.71875,349.8 C515.71875,363.6 522.31875,369.4 531.11875,369.4 C539.91875,369.4 546.11875,363.6 546.11875,349.8 L546.11875,239.4 L566.91875,239.4 L566.91875,347.6 Z M654.25625,345.6 C654.25625,371.2 638.45625,387.2 609.05625,387.2 C603.45625,387.2 592.05625,386.6 585.85625,385.4 L585.85625,240 C592.65625,238.8 604.05625,238.2 609.45625,238.2 C639.45625,238.2 651.85625,257 651.85625,276.6 C651.85625,292 645.25625,303.6 633.85625,310.4 C646.85625,316.2 654.25625,329.6 654.25625,345.6 Z M631.25625,280 C631.25625,265.2 623.45625,257.2 611.45625,257.2 C609.85625,257.2 607.45625,257.4 606.25625,257.6 L606.25625,303 C607.25625,303.2 609.65625,303.4 611.65625,303.4 C623.85625,303.4 631.25625,294.6 631.25625,280 Z M633.25625,343.2 C633.25625,329.4 624.85625,318.8 612.45625,318.8 C610.85625,318.8 607.45625,319 606.25625,319.4 L606.25625,367.8 C607.85625,368 610.45625,368.4 612.85625,368.4 C623.65625,368.4 633.25625,361 633.25625,343.2 Z M722.19375,386 L667.99375,386 L667.99375,239.4 L688.79375,239.4 L688.79375,366.6 L722.19375,366.6 L722.19375,386 Z M756.33125,386 L735.53125,386 L735.53125,239.4 L756.33125,239.4 L756.33125,386 Z M840.66875,379.8 C832.66875,385.8 825.46875,388.2 817.06875,388.2 C793.06875,388.2 772.66875,361.4 772.66875,313.4 C772.66875,267.6 791.46875,237.2 817.66875,237.2 C826.66875,237.2 833.26875,239.4 841.06875,245.4 L832.66875,262.6 C827.86875,258.8 823.46875,256.6 817.66875,256.6 C804.86875,256.6 794.06875,276.4 794.06875,311.6 C794.06875,349.2 805.26875,368.6 818.86875,368.6 C824.26875,368.6 828.66875,366.4 833.06875,362.8 L840.66875,379.8 Z M873.40625,386 L852.60625,386 L852.60625,239.4 L873.40625,239.4 L873.40625,386 Z M954.34375,258.8 L931.14375,258.8 L931.14375,386 L910.34375,386 L910.34375,258.8 L887.14375,258.8 L887.14375,239.4 L954.34375,239.4 L954.34375,258.8 Z M1038.48125,239.4 L1008.08125,331.8 L1008.08125,386 L987.28125,386 L987.28125,331.6 L956.68125,239.4 L978.28125,239.4 L997.68125,305 L1017.08125,239.4 L1038.48125,239.4 Z" id="Publicity"></path>
                        </g>
                    </g>
                </svg>
            <p class="callout">For all press inquiries,<br>please <a href="mailto:info@mckitchenmiami.com">email us.</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col col ccol-sm-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
            <ul class="list-unstyled ">
            {% for entry in craft.entries.section('publicity').limit(100).all() %}
                <li>
                    <a href="{{ entry.publicityLink }}" target="_blank">
                        <h5>{{ entry.newsSource }}</h5>
                        <p class="lead">{{ entry.title }}</p>
                        <p class="subtext">{{ entry.datePosted }}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>

  {% endblock %}